/node_modules
/public/hot
/public/newleafdata
/public/order_pdf
/public/order_tiff
/public/refill_orders_pdf
/public/refill_orders_tiff
/public/storage
/storage/*.key
/vendor
.env
.htaccess
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
